/* Styles for the treemap */

@import url(style.css);

#chart {
    width: 1100px;
    height: 520px;
    background: #bbb;
    /*margin: 40px auto auto;*/
}

#loading {
    position: absolute;
    top: 200px;
    left: 500px;
}

#tabs {
    position:absolute;
    top: 525px;
    width: 1095px;
}

#visualizations {
    position:absolute;
    top:0;
    left:270;
}

#chart text {
    pointer-events: none;
    font-weight: bold;
}

#linechart text {
    pointer-events: none;
    font-weight: bold;
    font-size: 0.8em;
}

#linechart-aggregate text {
    pointer-events: none;
    font-weight: bold;
    font-size: 0.8em;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #000;
}

rect.location {
    pointer-events: all;
}

rect.parent,
.grandparent rect {
    stroke-width: 3px;
}

.grandparent rect {
    fill: #fff;
}

.states rect.parent,
.grandparent rect {
    cursor: pointer;
    stroke-width: 2.5px;
}

rect.parent {
    pointer-events: all;
}

.states:hover rect,
.grandparent:hover rect {
    fill: #aaa;
    fill-opacity: .3;
}