/*
Line Graph Panel UI stylesheet

Contributors:
Richard B. Johnson
*/

#uiLineGraphPanel
{
	width:250px;
	padding:2px;
	overflow:hidden;
}

#uiLineGraphPanel .ui-panel-content-text
{
	padding-left:0.6em;
	padding-right:0.6em;
}

#uiLineGraphContent
{
	background-image:none;
	background-color:rgb(245,245,255);
}

#uiLineGraphContent,
#uiLineGraphContent label
{
	font-size:11pt;
}

#uiLineGraph_impactFactor
{
	margin-top: 0.2em;
}

#uiLineGraph_impactFactor,
#uiLineGraph_maximumLength
{
	margin-bottom: 0.4em;
}

#uiLineGraph_maximumLength,
#uiLineGraph_time
{
	margin-top: 0.4em;
}

#uiLineGraph_time
{
	margin-bottom: 0.2em;
}

#uiLineGraph_applyButton
{
	width:100%;
	margin-top:0.3em;
	text-align:center;
	vertical-align:middle;
	font-size:11pt;
}
