/*
Line Graph Panel UI stylesheet

Contributors:
Richard B. Johnson
*/

#uiLineChartPanel
{
	width:250px;
	padding:2px;
	overflow:hidden;
}

#uiLineChartPanel .ui-panel-content-text
{
	padding-left:0.6em;
	padding-right:0.6em;
}

#uiLineChartContent
{
	background-image:none;
	background-color:rgb(248,248,250);
}

#uiLineChartContent,
#uiLineChartContent label
{
	font-size:11pt;
}

#uiLineChart_impactFactor
{
	margin-top: 0.4em;
}

#uiLineChart_impactFactor,
#uiLineChart_maximumLength
{
	margin-bottom: 0.6em;
}

#uiLineChart_maximumLength,
#uiLineChart_time
{
	margin-top: 0.6em;
}

#uiLineChart_time
{
	margin-bottom: 0.4em;
}

#uiLineChart_impactFactor,
#uiLineChart_impactFactorLabel,
#uiLineChart_maximumLength,
#uiLineChart_maximumLengthLabel,
#uiLineChart_time,
#uiLineChart_timeLabel
{
	cursor: pointer;
}

#uiLineChart_applyButton
{
	width:100%;
	margin-top:0.3em;
	text-align:center;
	vertical-align:middle;
	font-size:11pt;
}
