/*
Tree Map Panel UI stylesheet

Contributors:
Richard B. Johnson
*/

#uiTreeMapPanel
{
	width:250px;
	padding:2px;
	overflow:hidden;
}

#uiTreeMapPanel .ui-panel-content-text
{
	padding-left:0.6em;
	padding-right:0.6em;
}

#uiTreeMapContent
{
	background-image:none;
	background-color:rgb(245,245,255);
}

#uiTreeMapContent,
#uiTreeMapContent label
{
	font-size:11pt;
}

#uiTreeMapContent select
{
	font-size:11pt;
	margin-top:0.5em;
	width:100%;
	height:1.7em;
}

#uiTreeMap_size,
#uiTreeMap_color
{
	margin-bottom:0.1em;
}

#uiTreeMap_applyButton
{
	width:100%;
	margin-top:0.3em;
	text-align:center;
	vertical-align:middle;
	font-size:11pt;
}
